In [1]:
#Data and time package
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-19 08:21:15.824519

In [5]:
x = dt.datetime.now()
print(x.year)
print(x.month)
print(x.day)
print(x.hour)

2023
6
19
8

In [13]:
print(x.strftime("%A"))
print(x.strftime("%a"))
print(x.strftime("%B"))
print(x.strftime("%b"))
print(x.strftime("%c"))
print(x.strftime("%C"))
print(x.strftime("%d"))
print(x.strftime("%D"))

Monday
Mon
June
Jun
Mon Jun 19 08:22:34 2023
20
19
06/19/23

In [15]:
x = dt.datetime.now().second
name = input("Enter name = ")
y = dt.datetime.now().second

print(y-x)

Enter name = Ram
2

In [17]:
x = dt.datetime.now().second
otp = input("Enter otp code = ")
y = dt.datetime.now().second
if y-x < 5:
    print("Please collect you cash ")
else:
    print(f"You took {y-x} seconts","Your time is out!")

Enter otp code = 4567
You took 21 seconts Your time is out!

In [18]:
# os packages
import os
os.listdir()

['.ipynb_checkpoints',
 'bonus.ipynb',
 'boooks.csv',
 'data.csv',
 'data.txt',
 'data1.csv',
 'data1.txt',
 'dictionary.ipynb',
 'file.ipynb',
 'First_class.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'inheritance.ipynb',
 'list.ipynb',
 'loop.ipynb',
 'new_data.csv',
 'oop1.ipynb',
 'pandas.ipynb',
 'sql.ipynb',
 'string.ipynb',
 'tuple and set.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [19]:
os.mkdir('newFolder')

In [20]:
os.chdir('newFolder')

In [21]:
pwd

'C:\\Users\\Aayush\\Python_class_8am\\newFolder'

In [22]:
cd ..

C:\Users\Aayush\Python_class_8am

In [25]:
os.rename('New_Folder','newFolder1')

In [26]:
os.rmdir('newFolder1')

In [ ]:
#Comprehensions: List, Dictionary

In [28]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l = [input("Enter valus = ") for i in range(5)]
l

Enter valus = Ram
Enter valus = Shyam
Enter valus = Hari
Enter valus = Sita
Enter valus = Gita

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [30]:
l = ["Apple","Ball","Cat","dog"]
data = [i.lower() for i in l]
data

['apple', 'ball', 'cat', 'dog']

In [35]:
# in dict
l = ["Apple","Ball","Cat","dog"]

d = {i:i.lower() for i in l}
d

{'Apple': 'apple', 'Ball': 'ball', 'Cat': 'cat', 'dog': 'dog'}

In [39]:
list(d.values())

['apple', 'ball', 'cat', 'dog']

In [41]:
list(d.items())

[('Apple', 'apple'), ('Ball', 'ball'), ('Cat', 'cat'), ('dog', 'dog')]

In [42]:
d = {input("Enter name = "):input("Enter phone") for i in range(5)}
d

Enter name = Ram
Enter phone9808778765
Enter name = Shyam
Enter phone9878778765
Enter name = Hari
Enter phone9808778765
Enter name = Sita
Enter phone9808556530
Enter name = Nabin
Enter phone9823665439

{'Ram': '9808778765',
 'Shyam': '9878778765',
 'Hari': '9808778765',
 'Sita': '9808556530',
 'Nabin': '9823665439'}