In [1]:
# Dict
# -Indexing
# -Multiple and duplicate data
# -ordered
# -Mutable

In [2]:
d = {}
d = dict()

In [3]:
# d = {<key>:<value>,<key>:<value>}

In [5]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [10]:
print(d['d'])

Dog

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
len(d)

4

In [12]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','a':'apple'}
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [13]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','A':'Apple'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Apple'}

In [ ]:
# No + *

In [15]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
e  = {'d':'Dog'}
d.update(e)
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple', 'd': 'Dog'}

In [18]:
# Creating dictionary
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [20]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 980889876
Enter name = Shyam
Enter phone = 9808889876
{'Ram': '980889876', 'Shyam': '9808889876'}

In [21]:
d = {'Ram': '980889876', 'Shyam': '9808889876'}
for i in d:
    print(i)

Ram
Shyam

In [22]:
d = {'Ram': '980889876', 'Shyam': '9808889876'}
for i in d.values():
    print(i)

980889876
9808889876

In [23]:
d = {'Ram': '980889876', 'Shyam': '9808889876'}
for i in d.items():
    print(i)

('Ram', '980889876')
('Shyam', '9808889876')

In [25]:
d = [['Ram',9808889876],
    ['Shyam',9808778765]]
dict(d)

{'Ram': 9808889876, 'Shyam': 9808778765}

In [27]:
# update
d = {'Ram': 9808889876, 'Shyam': 9808778765}
d['Ram'] = 9808778765
d

{'Ram': 9808778765, 'Shyam': 9808778765}

In [28]:
# delete
d = {'Ram': 9808889876, 'Shyam': 9808778765}
del d['Ram']
d

{'Shyam': 9808778765}

In [29]:
d = {'Ram': 9808889876, 'Shyam': 9808778765}
e = d.pop('Ram')
print(d)
print(e)

{'Shyam': 9808778765}
9808889876

In [30]:
# list inside dict
d = {'Ram':[9808778765,9808778765],'Shyam':[9808778765,98708556543]}
d

{'Ram': [9808778765, 9808778765], 'Shyam': [9808778765, 8708556543]}

In [31]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9808778765
Enter ncell phoene = 9808889876
Enter name = Shyam
Enter ntc phone = 9867889876
Enter ncell phoene = 9808778765
{'Ram': ['9808778765', '9808889876'], 'Shyam': ['9867889876', '9808778765']}

In [36]:
info['Shyam'][0]

'9867889876'

In [ ]:
d = {'name':['Ram','Shyam','Hari'],
     'age':[45,56,45],
     'add':['Kathmandu','Bhaktapur','lalitpur']}

In [37]:
d = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
d

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Hari
Enter age = 67
Enter add = Lalitpur

{'name': ['Ram', 'Hari'], 'age': [89, 67], 'add': ['Kathmandu', 'Lalitpur']}

In [42]:
c = 0
for i in d['name']:
    if i == "Ram":
        print(c)
    c = c+1

0

In [40]:
c = 0
for i in d['name']:
    if i == "Ram":
        print(d['name'][c])
        print(d['age'][c])
        print(d['add'][c])
    c = c+1

Ram
89
Kathmandu