In [1]:
# file

# file = open('<file_name>','<modes>')
# file.close()

# with open('<file_name>','<modes>') as file:
#     <operations>
    
    
# Mode
# create ->x
# read -> r
# write ->w
# append ->a

In [5]:
try:
    file = open('data.txt' , 'x')
    file.close()
except:
    print("The file is already there.")

The file is already there.

In [7]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [10]:
y= x.split('\n')
y

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World',
 '7.Hello World']

In [14]:
i = int(input("Enter i = "))
y[i-1]

Enter i = 1

'1.Hello World'

In [15]:
file = open('data1.txt','w')
file.write('Hello World')
file.close()

In [17]:
# WAP to create a billing system (product,price,qty,total,all_total)
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price * qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data
    
print(bill)

file = open('data1.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter name = Apple
Enter price = 300
Enter qty = 2
Enter name = Bnana
Enter price = 300
Enter qty = 4
Apple 300 2 600
Bnana 300 4 1200

In [18]:
# WAP to create a billing system (product,price,qty,total,all_total)
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price * qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data
    
print(bill)

file = open('data1.txt','a')
file.write(bill)
file.close()

Enter n = 1
Enter name = Kitkat
Enter price = 100
Enter qty = 3
Kitkat 100 3 300

In [20]:
file = open('data1.txt','r')
x = file.read()
print(x)
file.close()

Apple 300 2 600
Bnana 300 4 1200
Kitkat 100 3 300

In [25]:
y = x.split('\n')[0:-1]
y

['Apple 300 2 600', 'Bnana 300 4 1200', 'Kitkat 100 3 300']

In [29]:
bill = []
for i in y:
    bill.append(i.split())
    
bill

[['Apple', '300', '2', '600'],
 ['Bnana', '300', '4', '1200'],
 ['Kitkat', '100', '3', '300']]

In [33]:
s = 0
for i in bill:
    s = s+ int(i[-1])
    
    
s

2100

In [36]:
# WAP to create a billing system (product,price,qty,total,all_total)
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price * qty
    data = f"{name},{price},{qty},{total}\n"
    bill = bill + data
    
print(bill)

file = open('data1.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name = Apple
Enter price = 100
Enter qty = 2
Enter name = banana
Enter price = 300
Enter qty = 3
Apple,100,2,200
banana,300,3,900

In [37]:
import pandas as pd
df = pd.read_csv('data1.csv')
df

     Name  Price  Quantity  Total
0   Apple    100         2    200
1  banana    300         3    900

In [35]:
pwd

'C:\\Users\\Aayush\\Python_class_8am'