In [4]:
a = 10
print(a)

10

In [37]:
a = 10             #int
b = 10.5           #float
c = "Hello World"  #str
d = True           #bool

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [16]:
#1aa = 10 we can not use numbers and spc char at starting of variables
a_ = 10 #we can not use spc char at starting and ending and between the variables except _
hello = 10
hello_world = 10

In [18]:
#type()
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [19]:
a = 'Hello World'
c = "Hello World"
d = '''Hello World'''

In [32]:
a = "12$% apple '"
print(a)

12$% apple '

In [34]:
a = '''12$% apple "'''
print(a)

12$% apple "

In [38]:
a = True
b = False
print(a)
print(b)

True
False

In [39]:
a = "True"
print(a)

True

In [40]:
a = "10"
print(a)

10

In [41]:
# Operatrs
#+ - * / ** // %

In [46]:
a = 10
b = 20
c = a + b
print(c)

30

In [47]:
a = 10
b = 3
c = a ** b
print(c)

1000

In [45]:
a = 10
b = 3
c = a / b
print(c)

3.3333333333333335

In [50]:
a = 10
b = 3
c = a // b
print(c)

3

In [51]:
a = 10
b = 3
c = a % b
print(c)

1

In [1]:
# float
# + - * / ** // %

In [3]:
#string
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [4]:
name = "Aayush"
info = "Hello World I am " + name
print(info)

Hello World I am Aayush

In [2]:
# bool
a = True
b = False
c = a + b
print(c)

1

In [3]:
a = True
b = False
c = a * b
print(c)

0

In [6]:
# complex no (+ - * / ) j = (-1)**(1/2)
a = 2 + 3j
type(a)

complex

In [7]:
a = "10"
b = "20"
c = a + b
c

'1020'

type casting

In [8]:
# int() float() str() bool()

In [9]:
#str to int
a = "10"
b = int(a)
b

10

In [11]:
#str to float
a = "10.5"
b = float(a)
b

10.5

In [13]:
a = 10.5
b = str(a)
b

'10.5'

In [14]:
a = 10
str(a)

'10'

In [21]:
#int to bool
a = 1
bool(a)

True

In [22]:
a = "Ten"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'Ten'

In [26]:
a = "Hello"
bool(a)

True

In [27]:
# Basic IO operation

In [28]:
a = input()
print(a)

Hello World
Hello World

In [29]:
a = input("Enter a = ")
print(a)

Enter a = Hello
Hello

In [32]:
a = input("Enter a = ")
print(a)
type(a)

Enter a = 10
10

str

In [33]:
a = int(input("Enter a = "))
print(a)

Enter a = 10
10

In [34]:
a = float(input("Enter a = "))
print(a)

Enter a = 10
10.0

In [35]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name = Ram
Enter age = 89
Enter address = Kathmandu
Hello World I am Ram I am from Kathmandu I am 89

In [36]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of i = ",i)

Enter p = 1000
Enter t = 2.5
Enter r = 10
The value of i =  250.0