In [1]:
# Python collection
# list
# tuple
# dict
# set

In [2]:
# list
# Indexing
# Multiple data
# Duplicate
# Mutable

In [4]:
l = []
l = list()

In [5]:
a = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [10]:
a = ["Apple", "Ball","Cat","Dog","Fish"]
print(a[1])
print(a[0:4])
print(a[0:50:2])

Ball
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [11]:
a = ["Apple", "Ball","Cat","Dog","Fish","Apple"]
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [12]:
a = [1,2,3]
b = [2]
c = a+b
print(c)

[1, 2, 3, 2]

In [13]:
a = [1,2,3]
b = 2
print(a*b)

[1, 2, 3, 1, 2, 3]

In [14]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
    
print(l)

Enter n = 5
Enter x = 123
Enter x = 345
Enter x = 456
Enter x = 87
Enter x = 345
[123, 345, 456, 87, 345]

In [16]:
l = [123, 345, 456, 87, 345]
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum = ",sum(l))

The max value =  456
The min value =  87
The sum =  1356

In [17]:
l.sort()
print(l)

[87, 123, 345, 345, 456]

In [18]:
l.reverse()
print(l)

[456, 345, 345, 123, 87]

In [ ]:
# # # add values
# # append() insert() extend()

# delete values
#del remove() pop()

In [19]:
a = ["Apple", "Ball","Cat","Dog","Fish","Apple"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

In [20]:
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat
Dog
Fish
Apple

In [22]:
a = ["Ram",'Shyam','Hari','Sita','Gita',"Nabin","Ramesh"]
if "Ram" in a:
    print("yes")
    print(a.count("Ram"))
else:
    print("no")

yes
1

In [23]:
# WAP to search any value in a list have case insencitive

In [25]:
# append()
a = [1,2,3,4,5]
a.append("Apple")
a.append("Ball")
a

[1, 2, 3, 4, 5, 'Apple', 'Ball']

In [26]:
# insert()
a = ['Apple', 'Ball',"Cat","Fish","Egg"]
a.insert(2,"Can")
a

['Apple', 'Ball', 'Can', 'Cat', 'Fish', 'Egg']

In [30]:
# extend()
a = ['Apple', 'Ball',"Cat","Fish","Egg"]
b = [1,2,3,4]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Fish', 'Egg', 1, 2, 3, 4]

In [32]:
# update
a = ['Apple', 'Ball',"Cat","Fish","Egg"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Fish', 'Egg']

In [34]:
a = ['Apple', 'Ball',"Cat","Fish","Egg"]
a[0:2] = ["apple","ball"]
a

['apple', 'ball', 'Cat', 'Fish', 'Egg']

In [1]:
# delete 
# del remove() pop()

In [2]:
a = ['apple', 'ball', 'Cat', 'Fish', 'Egg']
del a[0]
print(a)

['ball', 'Cat', 'Fish', 'Egg']

In [3]:
a = ['apple', 'ball', 'Cat', 'Fish', 'Egg']
del a[0:3]
a

['Fish', 'Egg']

In [7]:
a = ['apple', 'ball', 'Cat', 'Fish', 'Egg','apple']
a.remove('apple')
a.remove('apple')
print(a)

['ball', 'Cat', 'Fish', 'Egg']

In [5]:
a = ['apple', 'ball', 'Cat', 'Fish', 'Egg','apple']
c = a.count('apple')
for i in range(c):
    a.remove('apple')
print(a)

['ball', 'Cat', 'Fish', 'Egg']

In [9]:
a = ['apple', 'ball', 'Cat', 'Fish', 'Egg','apple']
b = a.pop(0)
print(a)
print(b)

['ball', 'Cat', 'Fish', 'Egg', 'apple']
apple

In [10]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [15]:
print(a[0])
print(a[1][2])

[1, 2, 3]
6

In [16]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',56,'Lalitpur'],
    ['Hari',89,'Bhaktapur']]
a

[['Ram', 45, 'Kathmandu'],
 ['Shyam', 56, 'Lalitpur'],
 ['Hari', 89, 'Bhaktapur']]

In [17]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    a.append(info)
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bhaktapur
[['Ram', 45, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur']]

In [4]:
#search
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 78, 'Bhaktapur'],
     ['Hari',56,'Lalitpur'],
     ['Ram',23,'Jhapa']]

['Ram', 45, 'Kathmandu']

In [5]:
# name = input("Enter name = ")
for i in a:
    print(i)

['Ram', 45, 'Kathmandu']
['Shyam', 78, 'Bhaktapur']
['Hari', 56, 'Lalitpur']
['Ram', 23, 'Jhapa']

In [8]:
# name = input("Enter name = ")
for i in a:
    print(i[0])

Ram
Shyam
Hari
Ram

In [9]:
name = input("Enter name = ")
for i in a:
    if i[0] == name:
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ram', 23, 'Jhapa']

In [10]:
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ram', 23, 'Jhapa']

In [9]:
#search
c = 0
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 78, 'Bhaktapur'],
     ['Hari',56,'Lalitpur'],
     ['Ram',23,'Jhapa']]
name = input("Enter name = ")
for i in a:
    if i[0].lower() == name.lower():
        print(i)
        c = c + 1
print(f"The is {c} records")

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ram', 23, 'Jhapa']
The is 2 records

In [3]:
a.append(['Nabin',67,'Chitwan'])
a

[['Ram', 45, 'Kathmandu'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur'],
 ['Ram', 23, 'Jhapa'],
 ['Nabin', 67, 'Chitwan']]

In [12]:
# Update
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 78, 'Bhaktapur'],
     ['Hari',56,'Lalitpur'],
     ['Ram',23,'Jhapa']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 45, 'Kathmandu'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur'],
 ['Ram', 23, 'Jhapa']]

In [13]:
# delete
del a[0]

['Ram Prasad', 45, 'Kathmandu']

In [ ]:
# WAP to create a matrix having n no rows and columns