In [1]:
# loop
# for loop 
# while loop

In [2]:
# for loop

In [3]:
# range(5) # 0,1,2,3,4      for(i = 0; i<5; i++)
# range(1,5) # 1,2,3,4      for(i = 1; i<5; i++)
# range(1,10,2) #1,3,5,7,9  for(i = 1; i<10; i = i+2)

In [5]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [9]:
for i in range(5,0,-1):           #5,4,3,2,1
    print(i,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [13]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(i*n)

Enter n = 4
4
8
12
16
20
24
28
32
36
40

In [14]:
#5 * 1 = 5
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
for i in range(2):
    x = int(input("Enter x = "))

Enter x = 100
Enter x = 200

In [20]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
    print("Now your total balance = ",s)

Enter n = 5
Enter x = 213
Now your total balance =  213
Enter x = 234
Now your total balance =  447
Enter x = 213
Now your total balance =  660
Enter x = 234
Now your total balance =  894
Enter x = 23
Now your total balance =  917

In [3]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+ x + "\n"
    
    print(s)

Enter n = 3
Enter x = Ram
Ram

Enter x = Shyam
Ram
Shyam

Enter x = Hari
Ram
Shyam
Hari

In [5]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+ name +"--" + str(phone) + "\n"
    
    print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Ram9808778765

Enter name = Shyam
Enter phone = 9808887865
Ram9808778765
Shyam9808887865

In [1]:
# WAP to find factorial 5! = 1*2*3*4*5
# WAP to add and multiply numbers from 1 to 100
# WAP to make different patterns line triange
# WAP to create a billing system (product,price,qty,total,all_total)
# WAP to detect if the given no is prime or composite

In [2]:
# String

In [4]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [10]:
a = "Hello World I am Python"
for i in a:
    print(i,end = "")

Hello World I am Python

In [14]:
a = "Hello World I am Python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Python

In [17]:
"H" != "."

True

In [15]:
a = "Hello World I am Ram. I am from Kathmandu. I am the best."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Ram I am from Kathmandu I am the best

In [18]:
# While loop
# while <condition>:
#     <operation>

In [3]:
a = 0              #for i in range(5)
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
a = 1              #for i in range(1,5)
while a<5:
    print(a,"Hello World")
    a = a+1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
a = 1              #for i in range(1,5,2)
while a<5:
    print(a,"Hello World")
    a = a+2

1 Hello World
3 Hello World

In [8]:
a = 0              #for i in range(1,2)
while a<=2:
    print(a,"Hello World")
    a = a+0.5

0 Hello World
0.5 Hello World
1.0 Hello World
1.5 Hello World
2.0 Hello World

In [9]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",i*n)
    i = i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s+x
    i += 1 #i = i+1
    print("Now your total balance = ",s)

Enter n = 2
Enter x = 1000
Now your total balance =  1000
Enter x = 2000
Now your total balance =  3000

In [ ]:
i = 0
s = ""
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+ name +"--" + str(phone) + "\n"
    i = i+1
    print(s)

In [11]:
i = 4
while i>=0:
    print(i)
    i = i-1

5
4
3
2
1
0

In [21]:
# WAP to find factorial 5! = 1*2*3*4*5
i = 1
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = i*fac
    print(fac)

Enter n = 5
1
2
6
24
120

In [24]:
# WAP to make different patterns line triange
n = 5
for i in range(1,n):
    print(i * "o")

o
oo
ooo
oooo

In [35]:
n = 5
for i in range(n,0,-1):
    print(i * "o")

ooooo
oooo
ooo
oo
o

In [45]:
# WAP to make different patterns line triange
n = 5
for i in range(1,n):
    print((n-i)*" ",(2*i-1)*"o")

     o
    ooo
   ooooo
  ooooooo

In [1]:
# # control statements
# continue
# break
# pass

In [4]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [6]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [7]:
a = "Hello world I am Python. I am the best."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello world I am Python

In [8]:
for i in range(10):
    if i == 5 or i == 8:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 9

In [9]:
a = "Hello world I am Python. I am the best. _"
for i in a:
    if i == "." or i == "_":
        continue
    print(i, end = "")

Hello world I am Python I am the best

In [3]:
i = 0
while i <=10:
    if i == 5:
        i = i+1
        continue
    print(i,end = " ")
    i = i+1

0 1 2 3 4 6 7 8 9 10

In [4]:
for i in range(1,51):
    if i % 5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [11]:
# WAP to add and multiply numbers from 1 to 100
#Add 1+2+3+4+5
s = 0
for i in range(1,101):
    s = s +i
    
print(s)

#multiply  1*2*3
s = 1
for i in range(1,101):
    s = s * i
    
print(s)

5050
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [13]:
# WAP to create a billing system (product,price,qty,total,all_total)
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price * qty
    data = name +" " + str(price) +" " + str(qty) +" " + str(total) + "\n"
    bill = bill + data
    all_total = all_total + total
    
print(bill)
print(all_total)

Enter n = 2
Enter name = Momo
Enter price = 150
Enter qty = 2
Enter name = Coke
Enter price = 3
Enter qty = 100
Momo 150 2 300
Coke 3 100 300

In [14]:
# # WAP to detect if the given no is prime or composite
# prime 2 3 5 7 11 13 17
# composite 4,6,9,10,12,14,15,16,18,19

In [27]:
#2,3,4,5,6,7,8,9,10

n = int(input("Enter n = "))
if n >= 2:
    for i in range(2,n//2+1):
        if n%i==0:
            print("The no is composite")
            break
    else:
        print("The no is prime")
else:
    print("The value of n should be n >= 2 ")

Enter n = 4
The no is composite