In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)

In [ ]:
import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password=""
)
db = database.cursor()

# db.execute("CREATE DATABASE pythons")

In [2]:
import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "pythonclass8am"
)
db = database.cursor()

In [5]:
#Select in database
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Shyam', 78, 76, 90, 67, 89, 412, 82.5, 'A')
(2, 'Ram', 78, 87, 67, 89, 87, 450, 85.5, 'A')
(3, 'Sabin', 78, 89, 89, 45, 67, 400, 81.4, 'B')
(4, 'Shyam', 78, 60, 65, 70, 78, 410, 81.4, 'A')
(5, 'Shyama', 78, 60, 75, 70, 78, 410, 81.4, 'A')

In [7]:
#Select in database
# db.execute("SELECT sn,name,grade FROM student")
db.execute("SELECT * FROM student WHERE grade = 'A' ")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Shyam', 78, 76, 90, 67, 89, 412, 82.5, 'A')
(2, 'Ram', 78, 87, 67, 89, 87, 450, 85.5, 'A')
(4, 'Shyam', 78, 60, 65, 70, 78, 410, 81.4, 'A')
(5, 'Shyama', 78, 60, 75, 70, 78, 410, 81.4, 'A')

In [8]:
# Insert in database
sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`,
`total`, `per`, `grade`) 
VALUES ('8', 'Rama', '89', '78', '89', '67', '86', '400', '80', 'A')'''
db.execute(sql)
database.commit()

In [1]:
# WAP to entry all data in student table taking value as input from user.
import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "pythonclass8am"
)
db = database.cursor()

In [2]:
name = input("Enter name = ")
physics = int(input("Enter physics marks= "))
chemistry = int(input("Enter chemistry marks= "))
math = int(input("Enter math marks= "))
english = int(input("Enter english marks= "))
nepali = int(input("Enter nepali marks= "))
if physics>=32 and chemistry>=32 and math>=32 and english>=32 and nepali>=32:
    total = physics + chemistry + math + english + nepali
    per = total/5
    if per > 80:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 45:
        grade = "C"
    elif per >= 32:
        grade = "D"
    else:
        grade = "F"

    sql = f'''INSERT INTO student(name,physics,chemistry,math,english,nepali,total,per,grade) 
    VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')'''
    db.execute(sql)
    database.commit()

else:
    print("You are Failed")

Enter name = Sagar
Enter physics marks= 89
Enter chemistry marks= 87
Enter math marks= 67
Enter english marks= 89
Enter nepali marks= 76

In [5]:
sql = "UPDATE student SET grade = 'A+' WHERE name = 'Sagar'"
db.execute(sql)
database.commit()

In [6]:
name = input("Enter name = ")
grade = input("Enter grade = ")


sql = f"UPDATE student SET grade = '{grade}' WHERE name = '{name}'"
db.execute(sql)
database.commit()

Enter name = ram
Enter grade = A+

In [7]:
grade = input("Enter grade = ")


sql = f"DELETE FROM student WHERE grade = '{grade}'"
db.execute(sql)
database.commit()

Enter name = ram
Enter grade = B

In [8]:
grade = input("Enter grade = ")
physics = input("Enter physics marks")

sql = f"DELETE FROM student WHERE grade = '{grade}' and physics={physics}"
db.execute(sql)
database.commit()

Enter grade = B
Enter physics marks78