In [1]:
# imutable datatype
a = "Hello World I am Python"
b = 'Hello World I am Python'
c = '''Hello World I am Python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
# + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [5]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [10]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:20:2])

H
Hello
HloWrdIa y

In [14]:
a = "Hello World I am Python"
a[-1]

'n'

In [18]:
a = "Python"
a[-1:-7:-1]

'nohtyP'

In [19]:
a = "Hello World I am Python"
a[::-1]

'nohtyP ma I dlroW olleH'

In [20]:
a = "434"
a[::-1]

'434'

In [22]:
a = "Hello World I am Python"
b = a[0:5]
print(b)

Hello

In [26]:
a = "Hello World I am Python"
l = len(a)
for i in range(l):
    print(a[i], end = "")

Hello World I am Python

In [27]:
a = "Hello World I am Python"
l = len(a)
i = 0
while i<l:
    print(a[i],end = "")
    i = i+1

Hello World I am Python

In [28]:
a = "Hello World I am Python"
l = len(a)
for i in range(l):
    if a[i] == " ":
        print(i)

5
11
13
16

In [29]:
# String formatting
name = "Ram"
age = 78
add = "Kathmandu"

info = "Hello World I am "+name+ " I am from "+ add + " I am "+str(age)
info

'Hello World I am Ram I am from Kathmandu I am 78'

In [30]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}"
info

'Hello World I am Ram  I am from Kathmandu I am 78'

In [ ]:
# WAP to create a billing system (product,price,qty,total,all_total)
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price * qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data
    all_total = all_total + total
    
print(bill)
print(all_total)

In [37]:
# Search in string
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
name = input("Enter name = ")
if name in a:
    print("Yes there is",name)
    print(a.count(name))
else:
    print("No")

Enter name = ram
No

In [40]:
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA GITA NABIN RAMESH
ram shyam hari sita gita nabin ramesh

In [42]:
# Search in string
a = "Ram Shyam Hari Sita Gita Nabin Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes there is",name)
    print(a.count(name))
else:
    print("No")

Enter name = RaM
Yes there is ram
2

In [45]:
#replace()
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a = a.replace("Ram","Rama")
a

'Rama Shyam Hari Sita Gita Nabin Ramaesh'

In [44]:
print(a)

Ram Shyam Hari Sita Gita Nabin Ramesh

In [46]:
#replace()
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a = a.replace("Ram ","Rama ")
a

'Rama Shyam Hari Sita Gita Nabin Ramesh'

In [47]:
#replace()
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a = a.replace("Shyam","")
a

'Ram  Hari Sita Gita Nabin Ramesh'

In [ ]:
isupper() islower() title()